.container { 
    width: 100%;
    margin: 50px;
}

.navbar-nav {
    margin-left: 75%;}

.btn-primary {

    margin-left: 40px;

}


.footer {
    color: white;
    text-align: center;
    padding: 40px;
    height: 100px

}